# BEGIN Static Sitemap MIME & Redirect Bypass
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^sitemap\.xml$ sitemap.xml [L,NC]
</IfModule>

<Files "sitemap.xml">
    Header set Content-Type "application/xml; charset=UTF-8"
    Header set X-Robots-Tag "noindex, follow"
</Files>
# END Static Sitemap MIME & Redirect Bypass

# BEGIN WordPress Core
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress Core
